body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

hr{
    width: 500px;
}

#grid{
    width: 408px;
    height: 408x;

    background-color: #474747;
    border: 10px solid #858585;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/* .tile{
    width: 90px;
    height: 90px;
    border: 5px solid #ff99ab;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.tile{
    width: 90px;
    height: 90px;
    border: 6px solid #858585;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s linear;
}

/* Tile's colors palette: https://www.colorhexa.com/ffc0cb*/
.tile2{
    background-color: #ffd4db;
    color: #ff5e7a;
}

.tile4{
    background-color: #ffacbb;
    color: #ff375a;
}

.tile8{
    background-color: #ff859a;
    color: white;
}

.tile16{
    background-color: #ff5e7a;
    color: white;
}

.tile32{
    background-color: #ff375a;
    color: white;
}

.tile64{
    background-color: #ff0f39;
    color: white;
}

.tile128{
    background-color: #d40025;
    color: white;
}

.tile256{
    background-color: #99001b;
    color: white;
}

.tile512{
    background-color: #4a000d;
    color: white;
}

.tile1024{
    background-color: #0f0003;
    color: white;
}

.tile2048{
    background: linear-gradient(to bottom right, #ff8b94,  #ffb3ba, #ffdfba, #ffffba, #baffc9, #a8e6cf, #bae1ff, #dbdcff,  #eecbff);
    color: #474747;
}

.tile4096{
    background-color: #eecbff;
    color: #474747;
}

.tile8192{
    background-color: #a8e6cf;
    color: #474747;
}